.wrap {
  display: flex;
}

.one {
  width:35%;
  margin-left: 10%;
}

.two {
  width: 35%;
  margin-right: 10%;
}

.three {
  width: 10%;
  display: inline;
}

@media (max-width: 850px) {
  .wrap {
    flex-direction: column;
  }
  .one,
  .two {
    width: auto;
    margin-right: 0%;
    margin-left: 0%;
  }

  .three{
    display: hide;
  }
}
