.wrap {
  display: flex;
  width: 100%;
}

.one {
  width:40%;
  margin-left: 5%;
  height: 400px;
}

.two {
  width: 40%;
  margin-right: 5%;
  height: 400px;
}

.three {
  width: 10%;
  display: inline;
}

.legend-dataset-text{
  font-size: 8px;
}

.chart-container svg{
  min-width: 350px;
}





@media (max-width: 850px) {
  .wrap {
    flex-direction: column;
  }
  
  .one {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .two {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .three{
    display: hide;
  }

  .chart-container svg{
    min-width: 350px;
  }
}

@media (max-width: 450px) {
  .wrap {
    flex-direction: column;
  }
  
  .one {
    width: 80%;
    margin-right: 10%;
    margin-left: 0%;
  }

  .two {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .three{
    display: hide;
  }

  .chart-container svg{
    min-width: 350px;
  }
}

