.wrap {
  display: flex;
  width: 100%;
  flex-direction: none;
}

.one {
  width:40%;
  margin-left: 5%;
  height: 700px;
}

.two {
  width: 40%;
  margin-right: 5%;
  height: 700px;
}

.three {
  width: 10%;
  display: inline;
}

.boxDiv {
  width: 100%;
}


@media (max-width: 850px) {
  .wrap {
    flex-direction: column;
  }
  
  .one {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .two {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .three{
    display: hide;
  }

}



